// RESET LDP
.title-section {
    margin-bottom: 20px;
    max-width: 80%;
    .lbl {
        color: #9A9A9A;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2.5px;
    }
    .title {
        color: #2B3545;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.5;
        .gold {
            color: var(--colormain);
            font-weight: 500;
        }
        &.blue {
            color: #5480c5;
        }
    }
    &.full-width {
        max-width: 100%;
    }
    &.magin {
        margin: 0 auto;
    }
    @media (max-width: 1199px) {
        .lbl {
            font-size: 18px;
        }
        .title {
            font-size: 36px;
        }
    }
    @media (max-width: 991px) {
        max-width: 100%;
        .lbl {
            font-size: 16px;
        }
        .title {
            font-size: 28px;
        }
    }
}

.elementor-background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

ul.checklist {
    li {
        margin-bottom: 20px;
        padding-left: 30px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M8 0C3.58897 0 0 3.58897 0 8C0 12.411 3.58897 16 8 16C12.411 16 16 12.411 16 8C16 3.58897 12.411 0 8 0ZM12.4712 5.89474L7.3584 10.9674C7.05764 11.2682 6.57644 11.2882 6.25564 10.9875L3.54887 8.5213C3.22807 8.22055 3.20802 7.7193 3.48872 7.3985C3.78947 7.07769 4.29073 7.05764 4.61153 7.3584L6.75689 9.32331L11.3283 4.75188C11.6491 4.43108 12.1504 4.43108 12.4712 4.75188C12.792 5.07268 12.792 5.57393 12.4712 5.89474Z' fill='%23428EFF'%3e%3c/path%3e%3c/svg%3e");
        background-position: 0 4px;
        background-repeat: no-repeat;
    }
}

.color-blue {
    color: var(--blue);
}

// END RESET LDP
.section-banner {
    background-image: url(images/graphics/bg-banner.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    padding-top: 80px;
    padding-bottom: 30px;
    .elementor-background-overlay {
        background-image: url(images/graphics/phone-gif.webp);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 54% auto;
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .text-post {
        max-width: 600px;
        .flex {
            gap: 20px;
        }
    }
    .img {
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 0;
    }
    .title {
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .slogan {
        font-weight: 400;
        line-height: 1.4;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .number {
        font-size: 48px;
        font-weight: bold;
        color: var(--colormain);
    }
    .des {
        font-size: 16px;
    }
    .security {
        .itemt {
            display: flex;
            gap: 10px;
            font-weight: bold;
            .icon {
                width: 20px;
                flex-shrink: 0;
                margin-top: 3px;
            }
        }
    }
    @media (max-width: 1199px) {
        .title,
        .slogan,
        .number {
            font-size: 36px;
        }
    }
    @media (max-width: 991px) {
        padding: 40px 0;
        .elementor-background-overlay {
            background-size: 48% auto;
        }
        .text-post {
            max-width: 500px;
        }
        .title,
        .slogan,
        .number {
            font-size: 28px;
        }
        .security {
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}

.section-1 {
    background-image: url(images/graphics/bg-section-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 20px 0px;
    .title-section {
        margin-bottom: 0;
    }
    @media (max-width: 1199px) {
        padding: 40px 0;
    }
    @media (max-width: 991px) {
        .title-section {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
        .title-section {
            margin-bottom: 0px;
        }
    }
}

.slide-fastca {
    color: #8B8B8B;
    font-size: 16px;
    margin-top: -50px;
    .row {
        align-items: center;
    }
    .elementor-heading-title {
        font-weight: 600;
        color: #5480c5;
        font-size: 27px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    p,
    ul {
        margin-bottom: 20px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        background: url(images/icons/next.png);
        background-size: contain;
        border: 0;
        box-shadow: none;
        width: 64px;
        height: 64px;
        margin-top: -32px;
    }
    .swiper-button-prev {
        left: -64px;
        transform: rotate(180deg);
    }
    .swiper-button-next {
        right: -64px;
    }
    @media (max-width: 1199px) {
        .elementor-heading-title {
            font-size: 22px;
        }
    }
    @media (max-width: 991px) {
        margin-top: 0;
    }
    @media (max-width: 767px) {
        margin-top: -30px;
    }
}

.section-2 {
    background-color: #00398E;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 0px 20px 0px;
    position: relative;
    color: #fff;
    font-size: 14px;
    .elementor-background-overlay {
        background-image: url(images/graphics/bg-section-2.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .title-section {
        .lbl {
            color: #fff;
        }
        .title {
            color: #fff;
        }
    }
    .tab {
        background-color: #FFFFFF;
        border-radius: 35px;
        display: inline-flex;
        border: 2px #428EFF solid;
        margin-bottom: 30px;
        box-shadow: 0px 4px 20px 0px #00000040;
        a {
            font-size: 20px;
            font-weight: 500;
            background-color: #f1f1f1;
            color: #004FC2;
            border-radius: 35px;
            padding: 15px 30px;
            margin: 5px;
            &.active {
                background-color: #004FC2;
                color: #fff;
            }
        }
    }
    .elementor-icon-box-title {
        font-size: 16px;
        margin-bottom: 8px;
        padding-left: 26px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M8 0C3.58897 0 0 3.58897 0 8C0 12.411 3.58897 16 8 16C12.411 16 16 12.411 16 8C16 3.58897 12.411 0 8 0ZM12.4712 5.89474L7.3584 10.9674C7.05764 11.2682 6.57644 11.2882 6.25564 10.9875L3.54887 8.5213C3.22807 8.22055 3.20802 7.7193 3.48872 7.3985C3.78947 7.07769 4.29073 7.05764 4.61153 7.3584L6.75689 9.32331L11.3283 4.75188C11.6491 4.43108 12.1504 4.43108 12.4712 4.75188C12.792 5.07268 12.792 5.57393 12.4712 5.89474Z' fill='%23428EFF'%3e%3c/path%3e%3c/svg%3e");
        background-position: 0 4px;
        background-repeat: no-repeat;
    }
    @media (max-width: 1199px) {
        padding: 40px 0;
        .tab {
            a {
                font-size: 18px;
                padding: 10px 25px;
            }
        }
    }
    @media (max-width: 991px) {
        .tab {
            a {
                font-size: 15px;
                padding: 10px 20px;
            }
        }
    }
    @media (max-width: 420px) {
        .tab {
            a {
                font-size: 14px;
                padding: 10px;
                margin: 3px;
            }
        }
    }
}

.section-3 {
    background-image: url(images/graphics/bg-section-3.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
    .title-section {
        font-size: 24px;
        .title {
            color: #428EFF;
        }
    }
    .itemt {
        padding: 16px 16px 16px 16px;
        background-color: #FFFFFF66;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 10px 20px 0px #9FB8DD;
        text-align: center;
        .icon-svg {
            color: rgb(66, 142, 255);
            width: 50px;
            height: 50px;
        }
        .number {
            font-size: 42px;
            font-weight: 600;
            color: #093C89;
            line-height: 1.2;
            margin: 10px 0;
        }
        &.active {
            background-color: var(--colormain);
            .icon-svg {
                color: #fff;
            }
            .number {
                color: #422800;
            }
        }
    }
    @media (max-width: 1199px) {
        padding: 40px 0;
        .title-section {
            font-size: 20px;
        }
        .itemt {
            .number {
                font-size: 32px;
            }
        }
    }
    @media (max-width: 420px) {
        .grid__2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.section-4 {
    padding: 40px 0;
    @media (max-width: 420px) {
        .list-article {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.box-chuky {
    background: radial-gradient(75.56% 210.26% at 77.59% 41%, #72BBFF 0%, #428EFF 33.09%, #093589 100%);
    padding: 63px 98px;
    border-radius: 35px;
    margin: 80px 0;
    color: #fff;
    .title {
        font-size: 27px;
    }
    @media (max-width: 1199px) {
        padding: 40px;
        margin: 50px 0;
        .title {
            font-size: 22px;
        }
    }
}

.section-sanpham {
    background-image: url(images/graphics/bg-sanpham.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 15px 0px;
    color: #fff;
    .text-post {
        width: 60%;
    }
    .img {
        width: 40%;
    }
    .title-section {
        max-width: 100%;
        .title {
            color: #fff;
        }
    }
}

.section-padding {
    padding: 80px 0;
}

.section-gradient {
    padding: 90px 0 30px 0;
    background-color: transparent;
    background-image: linear-gradient(360deg, #E4EFFF00 25%, #E5EFFC 68%);
}

.section-giaiphap {
    background-image: url(images/graphics/bg-giaiphap.png);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px;
    .title-section {
        .title {
            color: #fff;
        }
    }
    .grid {
        background-color: #1048CACC;
        padding: 15px;
        border-radius: 20px;
    }
    .itemt {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 18px;
        color: #fff;
        img {
            width: 75px;
            flex-shrink: 0;
        }
    }
}

.box-giaiphap {
    display: flex;
    flex-wrap: wrap;
    .img {
        width: 30.446%;
        img {
            width: 80%;
        }
    }
    .accordion {
        width: 69.554%;
    }
}

.accordion {
    padding: 10px;
    background-color: #EFF4FC;
    border-radius: 10px;
    .card {
        margin-bottom: 15px;
        border: 0;
        line-height: 1.8;
        background: none;
        text-transform: uppercase;
        &:last-child {
            margin-bottom: 0;
        }
        .card-header {
            background: none;
            padding: 0;
            border: 0;
            .btn-link {
                padding: 24px;
                background-color: #FFFFFF;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #E0E0E0;
                display: block;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                position: relative;
                padding-right: 30px;
                &::before {
                    content: "";
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.4212 0.21225H0.578769C0.0656919 0.21225 -0.195687 0.831814 0.17218 1.19968L5.59337 6.62087C5.81603 6.84353 6.18389 6.84353 6.40665 6.62087L11.8278 1.19968C12.1956 0.831814 11.9342 0.21225 11.4212 0.21225Z' fill='%2307272D'/%3e%3c/svg%3e");
                    position: absolute;
                    right: 20px;
                    width: 10px;
                    height: 6px;
                    background-size: contain;
                    top: 50%;
                    margin-top: -3px;
                    opacity: 0.4;
                    transition: 0.1s all;
                }
                &[aria-expanded="true"] {
                    border-bottom: 0;
                    border-radius: 10px 10px 0 0;
                    &::before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .card-body {
            background: #fff;
            border-radius: 0 0 10px 10px;
            padding: 0 40px 20px 40px;
            border-style: solid;
            border-width: 0 1px 1px 1px;
            border-color: #E0E0E0;
        }
    }
}