.footer {
    background-color: #00091C;
    padding: 50px 0px 40px 0px;
    color: #FFFFFFBF;
    font-size: 14px;
    .flexbox {
        display: flex;
    }
    [class*='col_'] {
        padding: 10px;
    }
    .col_1 {
        width: 15.957%;
    }
    .col_2 {
        width: 19%;
    }
    .col_3 {
        width: 17.845%;
    }
    .col_4 {
        width: 21.448%;
    }
    .col_5 {
        width: 25.747%;
    }
    .title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 12px;
        color: #fff;
        line-height: 1.4;
    }
    h4 {
        font-size: 14px;
        font-weight: 400;
    }
    ul {
        margin-bottom: 30px;
        li {
            margin-bottom: 12px;
        }
    }
    .contact {
        p {
            display: flex;
            i {
                width: 30px;
                flex-shrink: 0;
                font-size: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .line-bottom {
        border-color: #2E2E2E;
        margin-bottom: 30px;
    }
    .logo {
        text-align: right;
        img {
            max-width: 210px;
        }
    }
    .copyright {
        p {
            margin-bottom: 0;
        }
    }
    @media (max-width: 991px) {
        padding: 20px 0;
        .flexbox {
            flex-wrap: wrap;
        }
        [class*='col_'] {
            width: 33.33%;
        }
        ul {
            margin-bottom: 15px;
        }
    }
    @media (max-width: 576px) {
        [class*='col_'] {
            width: 50%;
        }
        .col_5 {
            width: 100%;
        }
        .line-bottom {
            padding-bottom: 20px;
        }
        .logo {
            text-align: left;
        }
        .copyright {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.zalo-container{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 210px;
    z-index: 9999999;    
    &.right{
        transform: scale(1.6);
        right: 2.5rem;
    }
    a{
        display: block;
    }
    span{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #1182FC;
        position: relative;        
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .cmoz-alo-circle {
        width: 50px;
        height: 50px;
        top: -5px;
        right: -5px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid rgba(17, 130, 252, .8);
        opacity: .1;
        border-color: #1182FC;
        opacity: .5;
    }
    .cmoz-alo-circle-fill {
        width: 60px;
        height: 60px;
        top: -10px;
        position: absolute;
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        border: 2px solid transparent;
        transition: all .5s;
        background-color: rgba(17, 130, 252, 0.45);
        opacity: .75;
        right: -10px;
    }

    .animated_zalo {
        animation-duration: 1s;
        animation-fill-mode: both;
        &.infinite {
            animation-iteration-count: infinite;
        }
    }  
    .zoomIn_zalo {
        animation-name: zoomIn_zalo;
    }   
    .pulse_zalo {
        -webkit-animation-name: pulse_zalo;
        animation-name: pulse_zalo;
    }       
}

@keyframes zoomIn_zalo {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
@-webkit-keyframes pulse_zalo {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse_zalo {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}