<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="content">
    <meta name="keywords" content="Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/fontAwesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">
    <section id="navbar" class="topnav">
        <div class="container">
            <div class="flex flex_row">
                <div class="left_menu">
                    <h1 class="logo" title="">
                        <a href="#"><img src="images/graphics/Logo.png" alt=""></a>
                    </h1>
                    <div class="main-menu">
                        <ul class="nav">
                            <li class="default">
                                <a href="#">Sản phẩm</a>
                                <span class="sub_menu">+</span>
                                <div class="level2">
                                    <a href="#">Giới thiệu</a>
                                    <a href="#">FAQ</a>
                                    <a href="#">Tin tức</a>
                                </div>
                            </li>
                            <li class="active"><a href="#" title="Bảng giá">Bảng giá</a></li>
                            <li><a href="#" title="Tin tức">Tin tức</a></li>
                            <li><a href="#" title="Hỗ trợ">Hỗ trợ</a></li>
                            <li><a href="#" title="Về FastCA">Về FastCA</a></li>
                            <li><a href="#" title="Đối tác">Đối tác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_menu">
                    <a href="javascript:;" id="vibeji-ham" class="item"><span></span> <span></span> <span></span></a>
                    <a class="btn-default gray tra-cuu" href="#">Tra cứu chứng thư số</a>
                    <a class="btn-default login" href="#">Đăng ký</a>
                </div>
            </div>
        </div>
    </section>

    <!-- build:content -->
    <div class="overlay"></div>
    <!--Footer-->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="flexbox line-bottom">
                    <div class="col_1">
                        <h3 class="title">FastCA</h3>
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Đối tác/Đại lý</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col_2">
                        <h3 class="title">Sản phẩm</h3>
                        <ul>
                            <li><a href="#">Chữ ký số từ xa FastCA</a></li>
                            <li><a href="#">Chữ ký số FastCA Token</a></li>
                        </ul>
                        <h3 class="title">Chứng thư số</h3>
                        <ul>
                            <li><a href="#">Tra cứu chứng thư số</a></li>
                            <li><a href="#">Quản lý vòng đời chứng thư số</a></li>
                        </ul>
                    </div>
                    <div class="col_3">
                        <h3 class="title">Bảng giá</h3>
                        <ul>
                            <li><a href="#">Dành cho cá nhân</a></li>
                            <li><a href="#">Dành cho doanh nghiệp</a></li>
                        </ul>
                    </div>
                    <div class="col_4">
                        <h3 class="title">Hỗ trợ</h3>
                        <ul>
                            <li><a href="#">Hướng dẫn cài đặt</a></li>
                            <li><a href="#">Hướng dẫn sử dụng</a></li>
                            <li><a href="#">Quy trình triển khai</a></li>
                            <li><a href="#">Tài liệu</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Quy định dịch vụ</a></li>
                        </ul>
                    </div>
                    <div class="col_5 contact">
                        <h3 class="title">Liên hệ</h3>
                        <h4>CÔNG TY CỔ PHẦN CHỮ KÝ SỐ FASTCA</h4>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            Địa chỉ: Tầng 3, tòa nhà Dolphin Plaza,
                            Số 28 Trần Bình, P. Mỹ Đình 2, Q. Nam Từ Liêm, Hà Nội
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>                     
                            Hotline: 08.1900.2158
                        </p>
                        <p>
                            <i class="fa fa-paper-plane"></i>
                            Email: info@fastca.vn
                        </p>
                    </div>
                </div>
                <div class="copyright grid grid__4">
                    <a class="logo" href="#"><img src="images/graphics/Logo-white.png" alt=""></a>
                    <p>Giấy ĐKKD số: 0108671807<br>Nơi cấp: Sở Kế hoạch & Đầu tư Hà Nội</p>
                    <div>
                        <h3 class="title">TRUNG TÂM KINH DOANH</h3>
                        <p>Mobile: 08.1900.2158<br>Email: kinhdoanh@fastca.vn</p>
                    </div>
                    <div>
                        <h3 class="title">TRUNG TÂM DỊCH VỤ KHÁCH HÀNG</h3>
                        <p>Tổng đài hỗ trợ: 1900 2066<br>Email: support@fastca.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <div class="overlay-bg"></div>
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <i class="fa fa-long-arrow-up"></i>
    </a>

    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->

</body>

</html>